body {
    font-family: "Raleway", sans-serif;
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

#menu {
    width: 20;
    height: 100;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}


#content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}